Repository pythonicv/git-training, changes with the labels that .github/labeler.yml gives for each.
All labels: label1, directory

.github/labeler.yml:

label1:
- README.md


directory:
- basic/diff/*

feat(files): added files
  basic/diff/app.py
Labels: directory

chore(release): 1.0.6
  CHANGELOG.md
  package.json
Labels: none

cl(greetings): added yml
  .github/workflows/greetings.yml
Labels: none

docs(readme): changed docs
  README.md
Labels: label1

fix(app): added more
  basic/diff/app.py
Labels: directory

chore(release): 1.0.7
  CHANGELOG.md
  package.json
Labels: none

chore(release): 1.0.8
  CHANGELOG.md
  package.json
Labels: none
